META
ocaml-libvirt-*.tar.gz
ocaml-libvirt-*.exe
html
configure
config.log
config.status
config.h
config.cache
Makefile
Make.rules
*/Makefile
autom4te.cache
core
core.*
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.o
*.so
*.a
*.opt
*.dll
*.exe
*~
libvirt/libvirt_version.ml
examples/get_cpu_stats
examples/list_domains
examples/node_info
virt-ctrl/virt-ctrl
virt-top/virt-top
virt-df/virt-df
*.orig
po/*.mo
po/*.po.bak
virt-df/virt_df_lvm2_lexer.ml
virt-df/virt_df_lvm2_parser.ml
virt-df/virt_df_lvm2_parser.mli
